<a href="https://colab.research.google.com/github/Shreya-414/MACHINE-LEARNING/blob/main/SIMPLE__LINEAR_REGRESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NASSCOM PROJECT
SIMPLE LINEAR REGRESSION
 
SHREYA
20191CSE0812
5CSE13

Linear Regression:
Linear Regression is one of the most fundaental and machine learning algorithm.

A Linear Regressin model predicts the dependent variable using a regression line based on the independent variable.

The equation of the Linear Regression is :

Y=m*X+b+e

where b is intercept of y

m is the slope of the line

e is the error term

> Indented block

> Indented block

The steps involved are:
1) Importing the libraries.

2) Importing the dataset.

3) Retrieving the data.

4) Creating dependent and independent variable.

5) Splitting dataset into train and test.

6) Applying linear regression on train dataset.

7) Getting the parameters.

8) Comparing the actual output values.

1) Importing the libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

2) Importing the dataset

In [ ]:
df=pd.read_csv("BostonHousing.csv")

3) Retrieving the data from dataset

In [ ]:
df.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
df.tail()

        crim   zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
501  0.06263  0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527  0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076  0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959  0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741  0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[5 rows x 14 columns]

In [ ]:
df.shape

(506, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [ ]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [ ]:
df.describe()

             crim          zn       indus  ...           b       lstat        medv
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

4) Create a Dependent(y) and independent(X) variable:

In [ ]:
target_feature='medv'
#Seperate object for taget feture
y=df[target_feature]

#seperate objects for input features
X=df.drop(target_feature,axis=1)

In [ ]:
X.head()

      crim    zn  indus  chas    nox  ...  rad  tax  ptratio       b  lstat
0  0.00632  18.0   2.31     0  0.538  ...    1  296     15.3  396.90   4.98
1  0.02731   0.0   7.07     0  0.469  ...    2  242     17.8  396.90   9.14
2  0.02729   0.0   7.07     0  0.469  ...    2  242     17.8  392.83   4.03
3  0.03237   0.0   2.18     0  0.458  ...    3  222     18.7  394.63   2.94
4  0.06905   0.0   2.18     0  0.458  ...    3  222     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: medv, dtype: float64

5) Split Dataset into Train and Test

In [ ]:
# to split dataset into train and test we have to import sklean library with model selection
from sklearn.model_selection import train_test_split

In [ ]:
#splitting the data into train and test with test size 20%
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
x_train.shape,y_train.shape # 80% of train data takes 404 rows

((404, 13), (404,))

In [ ]:
x_test.shape,y_test.shape  #20% of test data takes 102 rows

((102, 13), (102,))

6) Apply linear Regression on Train Dataset:

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
LinearRegression()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

7) Geting the paramters

In [ ]:
reg.intercept_
print('intercept(b) is :',reg.intercept_)

intercept(b) is : 38.0916949263027

In [ ]:
reg.coef_
print('coefficient (m) is :',reg.coef_)

coefficient (m) is : [-1.19443447e-01  4.47799511e-02  5.48526168e-03  2.34080361e+00
 -1.61236043e+01  3.70870901e+00 -3.12108178e-03 -1.38639737e+00
  2.44178327e-01 -1.09896366e-02 -1.04592119e+00  8.11010693e-03
 -4.92792725e-01]

In [ ]:
y_pred=reg.predict(x_test)
y_pred

array([24.88963777, 23.72141085, 29.36499868, 12.12238621, 21.44382254,
       19.2834443 , 20.49647539, 21.36099298, 18.8967118 , 19.9280658 ,
        5.12703513, 16.3867396 , 17.07776485,  5.59375659, 39.99636726,
       32.49654668, 22.45798809, 36.85192327, 30.86401089, 23.15140009,
       24.77495789, 24.67187756, 20.59543752, 30.35369168, 22.41940736,
       10.23266565, 17.64816865, 18.27419652, 35.53362541, 20.96084724,
       18.30413012, 17.79262072, 19.96561663, 24.06127231, 29.10204874,
       19.27774123, 11.15536648, 24.57560579, 17.5862644 , 15.49454112,
       26.20577527, 20.86304693, 22.31460516, 15.60710156, 23.00363104,
       25.17247952, 20.11459464, 22.90256276, 10.0380507 , 24.28515123,
       20.94127711, 17.35258791, 24.52235405, 29.95143046, 13.42695877,
       21.72673066, 20.7897053 , 15.49668805, 13.98982601, 22.18377874,
       17.73047814, 21.58869165, 32.90522136, 31.11235671, 17.73252635,
       32.76358681, 18.7124637 , 19.78693475, 19.02958927, 22.89825374,
       22.96041622, 24.02555703, 30.72859326, 28.83142691, 25.89957059,
        5.23251817, 36.72183202, 23.77267249, 27.26856352, 19.29492159,
       28.62304496, 19.17978838, 18.97185995, 37.82397662, 39.22012647,
       23.71261106, 24.93076217, 15.88545417, 26.09845751, 16.68819641,
       15.83515991, 13.10775597, 24.71583588, 31.25165267, 22.16640989,
       20.25087212,  0.59025319, 25.44217132, 15.57178328, 17.93719475,
       25.30588844, 22.3732326 ])

8) Comparing the actual output values with the predicted values:

In [ ]:
df1=pd.DataFrame({'Actual': y_test, 'Predicted': y_pred,'varaince':(y_test-y_pred)})

In [ ]:
df1.head(10)

     Actual  Predicted   varaince
329    22.6  24.889638  -2.289638
371    50.0  23.721411  26.278589
219    23.0  29.364999  -6.364999
403     8.3  12.122386  -3.822386
78     21.2  21.443823  -0.243823
15     19.9  19.283444   0.616556
487    20.6  20.496475   0.103525
340    18.7  21.360993  -2.660993
310    16.1  18.896712  -2.796712
102    18.6  19.928066  -1.328066

In [ ]:
from google.colab import drive
drive.mount('/content/drive')